<a href="https://colab.research.google.com/github/ristovska1606/DataScienceProject/blob/master/Scraping_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy
import pandas
import requests #HTTP library

#Note: In the following resource you can find a way to select any part of a HTML content.
#Resource: https://pypi.org/project/beautifulsoup4/
from bs4 import BeautifulSoup

#Note: IPython is a command shell for interactive computing in Python.
#Note: IPython.display is a module for display tools in IPython.
from IPython.display import HTML

In [3]:
#Note: We can disable warnings for out request
import warnings

requests.packages.urllib3.disable_warnings()
warnings.filterwarnings("ignore")

In [4]:
url = 'https://www.numbeo.com/food-prices/country_result.jsp?country=United+States'
response = requests.get(url)
response

In [5]:
raw_html = response.text
raw_html[:500]

'<!DOCTYPE html>\n<html lang="en-US">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n\n<link rel="canonical" href="https://www.numbeo.com/food-prices/country_result.jsp?country=United+States" />\n<meta name="description" content="Average food prices in United States. Various related sociological and economical indices calculated for United States." />\n            <script defer src="https://www.numbeo.com/common/numbeo_standard.js"></script>\n    <link href="https://cdnjs.c'

In [6]:
html = BeautifulSoup(raw_html, "html.parser")

In [7]:
table = html.find("table", {"class":"data_wide_table new_bar_table"})

In [9]:
allRows = table.select("tr")

In [10]:
allRows[1].select("td")

[<td>Milk (regular), (1 gallon) </td>,
 <td class="priceValue" style="text-align: right"> <span class="first_currency">3.91 $</span></td>,
 <td class="priceBarTd">
 <span class="barTextLeft">
 2.45</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 47px;"></span><span class="barTextRight">7.66</span></td>]

In [11]:
productName = []
productPrice = []

for i in range(1, len(allRows)):
  productName.append(allRows[i].select("td")[0].text)
  productPrice.append(allRows[i].select("td")[1].text.replace("\xa0$", ""))

In [12]:
productName

['Milk (regular), (1 gallon) ',
 'Loaf of Fresh White Bread (1 lb) ',
 'Rice (white), (1 lb) ',
 'Eggs (regular) (12) ',
 'Local Cheese (1 lb) ',
 'Chicken Fillets (1 lb) ',
 'Beef Round (1 lb) (or Equivalent Back Leg Red Meat) ',
 'Apples (1 lb) ',
 'Banana (1 lb) ',
 'Oranges (1 lb) ',
 'Tomato (1 lb) ',
 'Potato (1 lb) ',
 'Onion (1 lb) ',
 'Lettuce (1 head) ']

In [13]:
productPrice

[' 3.91',
 ' 3.22',
 ' 2.07',
 ' 4.37',
 ' 5.84',
 ' 5.44',
 ' 6.90',
 ' 2.40',
 ' 0.73',
 ' 1.90',
 ' 2.09',
 ' 1.36',
 ' 1.37',
 ' 2.15']

In [14]:
data = []

for i in range(0, len(productName)):
  item = {}
  item['Product'] = productName[i]
  item['Price 2023'] = productPrice[i]
  item["Currency"] = "$"
  item["Country"] = "USA"
  data.append(item)

df = pandas.DataFrame(data)
df

,Product,Price 2023,Currency,Country
0,"Milk (regular), (1 gallon)",3.91,$,USA
1,Loaf of Fresh White Bread (1 lb),3.22,$,USA
2,"Rice (white), (1 lb)",2.07,$,USA
3,Eggs (regular) (12),4.37,$,USA
4,Local Cheese (1 lb),5.84,$,USA
5,Chicken Fillets (1 lb),5.44,$,USA
6,Beef Round (1 lb) (or Equivalent Back Leg Red ...,6.90,$,USA
7,Apples (1 lb),2.40,$,USA
8,Banana (1 lb),0.73,$,USA
9,Oranges (1 lb),1.90,$,USA
10,Tomato (1 lb),2.09,$,USA
11,Potato (1 lb),1.36,$,USA
12,Onion (1 lb),1.37,$,USA
13,Lettuce (1 head),2.15,$,USA

In [ ]:
df.to_csv('/content/drive/MyDrive/ВНП ПРОЕКТ/data/dataStarted.csv')